@font-face{
    font-family: "Quark Cheese";
    src: url(Fonts/QuarkcheesePersonaluse-0Wlpr.otf);
}
@font-face{
    font-family: "Square Rising";
    src: url(Fonts/SquareRaising-ygGZ.ttf);
}
@font-face{
    font-family: "moonhouse";
    src: url(Fonts/Moonhouse-yE5M.ttf);
}
@font-face{
    font-family: "A Brushshow";
    src: url(Fonts/Abrushow-DO05x.otf);
}
@font-face{
    font-family: "DJB Sheldons Girlfriend";
    src: url(Fonts/DjbSheldonsGirlfriend-YWO8.ttf);
}
@font-face{
    font-family: "Good Boy";
    src: url(Fonts/GoodBoy-ZVJrl.ttf);
}
@font-face{
    font-family: "Konexy Personal";
    src: url(Fonts/KonexyPersonalUse-rg3wK.otf);
}
@font-face{
    font-family: "Roboto";
    src: url(Fonts/Roboto-LightItalic.ttf);
}
@font-face{
    font-family: "The Historia Demo";
    src: url(Fonts/TheHistoriaDemo.ttf);
}